@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Catherine';
	src: url('/catherine.woff2');
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
	@apply mb-2 mt-4 font-catherine font-thin text-white;
}

.prose {
	@apply text-white;
}
body,
main {
	@apply text-white;
}
